body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; 
  color: #333; 
  padding: 50px; 
}

h1 {
  font-size: 36px; /* フォントサイズを大きく */
  color: #4A90E2;
  border-bottom: 3px solid #4A90E2; /* 下線を追加 */
  padding-bottom: 10px; /* 下線とテキストとの間のスペース */
  margin-bottom: 20px; /* タイトルの下のスペース */
}

#questions-container, #result {
  background-color: #fff; 
  padding: 20px; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#diagnose-button {
  display: block; 
  width: 300px; /* 幅をもっと大きく */
  margin: 25px auto; 
  padding: 20px 25px; /* ボタン内のスペースを増やす */
  font-size: 24px; /* フォントサイズを大きく */
  background-color: #4A90E2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* 背景色とサイズの変更アニメーションを追加 */
}

#diagnose-button:hover {
  background-color: #357ABD;
  transform: scale(1.05); /* ホバー時にボタンのサイズを少し大きく */
}

